.light {
  background-color: white;
  color: black;
  min-height: 100vh;
}

.dark {
  background-color: black;
  color: white;
  min-height: 100vh;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}